body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: $veryDarkCyan;
  line-height: 1.4;
  @include mQ($large) {
    font-size: 16px;
  }
}

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  @include mQ($large) {
    font-size: 40px;
  }
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 10px;
  @include mQ($large) {
    font-size: 32px;
  }
}

h3 {
  font-size: 62px;
  font-weight: bold;
  @include mQ($large) {
    font-size: 82px;
  }
}

h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  @include mQ($large) {
    font-size: 20px;
  }
}

.container {
  padding: 0 8%;
}

.btn {
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 40px;
  box-sizing: border-box;
}

.btn-started {
  color: $veryPaleBlue;
  background: $pink;
  width: 220px;
  height: 42px;
  margin: auto;
  margin-bottom: 80px;
  line-height: 42px;
  font-weight: bold;
  box-shadow: 0 4px 8px hsla(192, 100%, 9%, 15%);
  @include mQ($large) {
    width: 320px;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 4px 10px hsla(192, 100%, 9%, 25%);
  }
}

.illustration {
  width: 100%;
  @include mQ($large) {
    width: 80%;
  }
}

section {
  margin-top: 120px;
}