@mixin backgroundElement {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right:0;
  background-size: cover;
}

@mixin mQ($arg...) {
  @if length($arg) == 1 {
    @media screen and (min-width: nth($arg, 1)) {
      @content;
    }
  }
  @if length($arg) == 2 {
    @media screen and (min-width: nth($arg, 1)) and (max-width: nth($arg, 2)) {
      @content;
    }
  }
}